# Created by .ignore support plugin (hsz.mobi)
concurrent/src/main/resources/static/
concurrent/src/main/resources/templates/
scheduled/src/main/resources/static/
scheduled/src/main/resources/templates/
